/*PAGE SETUP */

div.container {
    position: relative;
    min-height: 100%;
    margin: 0 auto;
    height: auto !important;
}
section {
   height: 100% !important;
}
#footer, #push{
   height: 7em;
   margin-top: -3em;
}
#push{
  margin-top: auto !important;
}
.container{
  width: 100%;
  max-width: 1000px;
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
}
.row {
  margin-right: 15px;
  margin-left: 15px;
}

/*HERO SECTION */
.hero{
  xpadding: 20px 0 30px 20px;
  z-index: -1;
  margin: -45px -10px 0 -10px;
}
.hero h1, .hero p, .hero h2, .hero h3, .hero li{
  color: #5C5C5C;
}
.hero #heading{
  padding: 0 1em 1em 3em;
}
.hero #heading p{
  margin:0;
  font-size: 1.2em;
  padding-bottom:0;
}
.hero button p {
 color: #ffffff;
}
section .textbox{
  padding: 1em 2em 1em 2em;
  border: 0.2em solid #353535;
  box-sizing: border-box;
  width: 20em;
}

/*HOMEPAGE ROWS IN HERO */
#boxes{
  padding-right: 4.5em;
  padding-left: 8em;
}
.col-right, .col-left, .row-button{
  width:100%;
}

/*PICTURE PAGES */
.picpage .textbox{
  width: 500px;
  padding-right: 5em;
}
.picpage .row-button{
  margin-left: 370px;
}
/*DONATE BOX */
#donate-box img {
  display: block;
  margin: .5em 0 0 0;
}

/* 2 COL STYLING WITH FLEXBOX */

.aboutpage .flex-container,
.homepage .flex-container {
  display: flex;
  flex-flow: row;

  display: -webkit-flex;
  -webkit-flex-flow: row;

  justify-content: space-around;
  -webkit-justify-content: space-around;

}
.aboutpage .col-left,
.homepage .col-left {
    order: 1;
    flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
}
.aboutpage .col-right,
.homepage .col-right {
    order: 2;
    flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
}
.donatepage .square-button,
.homepage .square-button {
  width: 95%;
  height: auto;
  min-height: 3em;
  margin: 0;
}
.homepage .col-left {
  margin-right: 2em;
}

/*STORY BOX STYLING */
.author{
  overflow: auto;
  padding-bottom: 2em;
  padding-top: 2em;
}
.author div{
  display: inline-block;
}
.author img{
  width: 100px;
  margin-bottom: -2em;
}
.author div.author-text{
  padding-left: 1em;
}

@media (max-width: 750px) {

  /*LOGO AND MENU */
  #header .logo div{
    margin-left: 0;
  }

  /*HERO SECTION */
  .hero{
    padding: 20px 0 30px 20px;
    margin: -45px -10px 0 -10px;
  }
  .hero #heading{
    padding: 0 40px 20px 0px;
  }

  /*HOMEPAGE ROWS IN HERO */
  .col-right {
    margin-left: 0;
    margin-top: 0;
  }
  .col-right div,
  .col-left div{
    margin-left:0;
    margin-top: 0;
  }
  .row-button,
  .homepage .row-button,
  .picpage .row-button {
    margin: 0;
  }

  /*ABOUT PAGE */
  .picpage .textbox{
    width: 95%;
    padding: 0 .5em 0em .5em;
  }
  .picpage .picturebox img{
    float: left;
    margin: 10px;
  }
  #founder div#foundertext{
    float:right;
  }
  #founder div#foundertext p{
    margin-left: 0;
    padding-left: 18px;
  }

}

@media (max-width:750px) {

  body {
    padding: .5em;
  }
  #boxes {
    padding: 0;
  }
  /* 2 col layout - mobile version */
  .aboutpage .flex-container,
  .homepage .flex-container {
    flex-flow: column;
    -webkit-flex-flow: column;
    align-content: center;
    align-items: center;
    -webkit-align-content: center;
    -webkit-align-items: center;
  }

  .aboutpage .col-left {
    order: 2;
    -webkit-order: 2;
    flex: 1 1 auto;
  }

  .aboutpage .col-right {
    order: 1;
    -webkit-order: 1;
    flex: 1 1 auto;
  }

  .homepage .col-left {
    order: 1;
    -webkit-order: 1;
    flex: 1 1 auto;
  }
  .homepage .col-right {
    order: 2;
    -webkit-order: 2;
    flex: 1 1 auto;
  }
  .aboutpage .picturebox {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row;
    flex-flow: row;
    justify-content: center;
    -webkit-justify-content: center;
  }
  .aboutpage .picturebox > img {
    flex: 1 1 auto;
    order: 1;
    -webkit-align-self: center;
    max-width: 250px;
  }
  .homepage .col-left {
    margin: 0 0 1em 0;
  }
  .homepage .col-right {
    padding-bottom: .7em;
  }

}
@media (max-width: 450px){


  section .textbox{
    @extends %full-width;
    padding: 0 .5em 1em .5em;
    min-width: 270px;
  }
  .picpage .textbox{
    padding: 0 0.5em;
    width: 95%;
  }
  .aboutpage .picturebox img{
    width: 250px;
    float: left;
    margin: 0;
  }
  .productpage .picturebox img{
    width: 100px;
    float: left;
    margin: 0;
  }
  div.container-fluid{
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }
  .hero #heading{
    padding:0 40px 20px 0px;
  }
  .hero #heading p{
    margin:0;
  }
  #boxes{
    @extends %full-width;
  }
  .productpage div.col-left,
  .aboutpage div.col-left {
    @extends %full-width;
  }
  #header .logo div{
    margin-left: 0;
  }
  button.square-button{
    width: 18em;
    height: 4em;
  }
  #footer #content {
    @extends %full-width;
    margin: 0;
  }
  #footer .bottom-nav-content #social > a {
    padding-left: 1em;
    padding-right: 1em;
  }
}

