html {
  font-size: 17px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   background-image: none;
   overflow: visible;
}
body {
  position: relative;
  min-height: 100%;
}
html, body {
  margin: 0;
}
footer,
header,
nav,
section {
  display: block;
}
h1, h2, h3, h4 {
  font-family: 'Cabin', 'Arial';
  color: #5C5C5C;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 1.7em;
}
h3 {
  text-transform: uppercase;
}
p, li, span {
  font-family: 'Lato', 'Helvetica';
  color: #5C5C5C;
}
a {
  text-decoration: none;
}
.textbox a{
  text-decoration: underline;
  color: #5C5C5C;
}
img {
  border: 0;
}
span.tag {
  background-color: #e0e0e0;
  border-radius: 500px;
  padding: .4em;
  line-height: 2.5em;
}
/*BUTTONS*/
button,
html input[type="button"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button:hover{
  background-color: #deeff5;
}
button:active{
  box-shadow: 0 .2em 0 0.1em #696969;
}
button:focus {
  outline: none;
}
button.square-button,
input.square-button{
  background-color: #4A90E2;
  color: #ffffff;
  border-radius: 0;
  border:none;
  width: 22em;
  height: 4em;
  box-shadow: 3px 3px 3px #696969;
}
button.square-button:hover{
  background-color: blue;
}
button.square-button:active{
  box-shadow: none;
}
button p{
  font-size: 1.5em;
  text-align: left;
  padding: 5px 0 0 18px;
  margin: 0;
}
input.paypal{
  display: block;
  margin-left:auto;
  margin-right: auto;
}


