/*PAGE SETUP */

html, body {
    height: 100%;
    margin: 0;
}
div.container {
    position: relative;
    min-height: 100%;
    margin: 0 auto;
    height: auto !important;
}
section {
   height: 100% !important;
}
#footer, #push{
   height: 7em;
   margin-top: -3em;
}
#push{
  margin-top: auto !important;
}

.container{
  width: 100%;
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
}
.row {
  margin-right: 15px;
  margin-left: 15px;
}

/*HEADER AND FOOTER */
#header, #footer{
  margin: 0 auto;
  padding: 0 0 0 0;
}
#header{
  position: relative;
  width: 100%;
  padding-bottom: 0.2em;
  height: 8em;
}
#header .logo{
  height: 5em;
  width: 50%;
  float: left;
  padding-bottom: 1em;
}
#header .logo div{
  position: absolute;
  margin-left: 55px;
  z-index: 5;
  display: inline;
}
#header .logo div img{
  width: 100px;
  height: 114px;
}

/*HEADER AND NAV WIDE SCREEN */
@media (min-width: 944px){
  /* NAV BAR */
  #dropdown a {
    text-decoration: none;
  }
  #dropdown{
    display: none;
  }
  nav{
   height:0.3em;
   display:block;
   margin-bottom: 0;
    z-index: 5;
    text-align: right;
  }
  #dropdown-menu{
    xadding-left: 12em;
    float: right;
  }
  #menubox li{
    position: relative;
    display: inline;
    padding:0.6em 1.3em;
    width: 12em;
    height: 1em;
    border-radius: 0;
  }
  #menubox li a{
    font-family: 'Cabin';
    color: #696969;
    font-size: 18px;
  }
  #menubox li:hover,
  #menubox li:active {
    border-bottom: 5px solid #4A90E2;
  }
  #menubox li#donate{
    background-color: #4A90E2;
    border-radius: 0;
    box-shadow: 0 0.2em 0.2em 0em #696969;
    width: 100px;
    height:20px;
    border-bottom: none;
  }
  #menubox li#donate a{
    color: #ffffff;
  }
  #menubox li#donate:hover{
    background-color: #504ae2;
  }
   #menubox li#donate:active{
    box-shadow: none;
  }
  #header .logo {
    width: 0;
  }

}
/*CLOSE ALT MENUBUTTON */
.close {
 opacity: 0.8;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  right: 20px;
  top: 5px;
  content: ' ';
  height: 33px;
  width: 4px;
  background-color: #ffffff;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
/*FOOTER*/
 #footer{
   width: 100%;
   background-color: #393939;
   position: relative;
   overflow: auto;
 }

 #footer .bottom-nav {
   height: auto;
   padding: 1em 0 0 1em;
   margin: 0;
 }

#footer .maintained-by{
  font-family: "Cabin", "Helvetica";
  color: #ffffff;
  font-size: 13px;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

#footer .maintained-by a{
  color: #ffffff;
  text-decoration: underline;
  width: 95%;
}

#footer hr {
  height: 0.2px;
  background-color: #deeff5;
  margin-top: 0.3em;
}

#footer img.logo{
  height: 60px;
  margin-top: -16px;
}
#footer span{
  color: #ffffff;
  font-size: 15px;
  font-family: "Cabin", "Helvetica";
}
.bottom-nav img.logo{
  padding-top: 14px;
}

/* FLEXBOX */

#footer #content {
  display: flex;
  flex-flow: column;

  display: -webkit-flex;
  -webkit-flex-flow: column;

  align-items: stretch;
  -webkit-align-items: stretch;

  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
#footer #content .bottom-nav {
  order: 1;
  flex: 1 3 auto;
  -webkit-flex: 1 1 auto;
  -webkit-flex-flow: row;
}
#footer #content .maintained-by {
  order: 2;
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
}
#footer #content hr {
  order: 2;
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
}
#footer #content .maintained-by span {
  margin-top: 0.3em;
}

#footer .bottom-nav-content{
  display: flex;
  flex-flow: row;
  display: -webkit-flex;
  -webkit-flex-flow: row;
  align-items: center;
  justify-content: space-between;
}
#footer .bottom-nav-content > div{
  order: 1;
  flex: 1 3 auto;
  -webkit-flex: 1 3 auto;
}
#footer .bottom-nav-content #social{
  text-align: right;
}
#footer .bottom-nav-content #social > a{
  padding-left: 2em;
  padding-right: 2em;
}

