/*HEADER AND FOOTER */

#header, #footer{
  margin: 0 auto;
  padding: 0 0 0 0;
}
#header{
  position: relative;
  width: 100%;
  padding-bottom: 0.2em;
}
#header .logo{
  height: 5em;
  width: 50%;
  float: left;
}
#header .logo div{
  position: absolute;
  margin-top: -15px;
  margin-left: 55px;
  z-index: 5;
  display: inline;
}
#header .logo div img{
  width: 100px;
  height: 114px;
}

/*HEADER AND NAV WIDE SCREEN */
@media (min-width: 944px){
  /* NAV BAR */
  #dropdown a {
    text-decoration: none;
  }
  #dropdown{
    display: none;
  }
  nav{
   height:0.3em;
   display:block;
   margin-bottom: 0;
    z-index: 5;
    text-align: right;
  }
  #dropdown-menu{
    xadding-left: 12em;
    float: right;
  }
  #menubox li{
    position: relative;
    display: inline;
    color: #696969;
    padding:0.6em 1.3em;
    width: 12em;
    height: 1em;
    border-radius: 0;
  }
  #menubox li a{
    font-family: 'Cabin';
    color: #ffffff;
    font-size: 18px;
    text-shadow: 1px 1px 1px #696969;
  }
  #menubox li:hover{
    border-bottom: 5px solid #4A90E2;
  }
  #menubox li#donate{
    background-color: #4A90E2;
    color: #ffffff;
    border-radius: 0;
    box-shadow: 0 0.2em 0.2em 0em #696969;
    width: 100px;
    height:20px;
    border-bottom: none;
  }
  #menubox li#donate:hover{
    background-color: blue;
  }
   #menubox li#donate:active{
    box-shadow: none;
  }
  #header .logo {
    width: 0;
  }

}

/*FOOTER*/
 #footer{
   left: 0px;
   bottom: 0px;
   width: 100%;
   display:block;
   background-color: #6D6D6D;
   padding: 0 20px 0 20px;
   margin: 0 -30px 0 -30px;
   overflow:hidden;
  align-content: center;
 }
 #footer #content{
   height: auto;
   padding-left: 60px;
   display: block;
   vertical-align: middle;
 }
 #footer #content div{
   position: relative;
   display: inline;
 }
 #footer .bottom-nav{
  height: 10em;
   padding-top: 0.35em;
   text-align: left;
   padding-left: 5em;
 }

#footer .maintained-by{
  float:right;
  text-align: right;
  vertical-align: middle;
  font-family: "Cabin";
  color: #ffffff;
  font-size: 13px;
}

#footer .maintained-by a{
  color: #ffffff;
  text-decoration: underline;
}

#footer .social{
  padding-top: 1.5em;
  text-align: center;
}

#footer ul{
  height: auto;
  padding: 5px 0 0 0;
  margin: 0;
}
#footer li{
  display: inline;
  padding: 10px;
}
#footer li img{
  height: 20px;
}
#footer img.logo{
  height: 60px;
  margin-top: -16px;
}
#footer span{
  color: #ffffff;
  font-size: 15px;
  font-family: "Cabin";
}
.bottom-nav img.logo{
  padding-top: 14px;
}
