
/*STORIES PAGES */

.hidden {
    display: none;
}

section.stories .textbox {
    padding: 1em 2em 1em 2em;
    border: 0;
    box-sizing: border-box;
    width: 60%;
}
.container-fluid {
   overflow: visible;
}
html {
   background-image: none;
   overflow: visible;
}
.hero.stories h1,
.hero.stories p,
.hero.stories h2 {
   color: #5C5C5C;
   font-weight: bold;
}
.stories h2 {
  font-size: 2em;
  margin: 0;
}

/* TOP STORY */
.story-box.top {
   width: 90%;
   max-width: 1200px;
    margin-bottom: 3em;
}
#boxes button.square-button p {
  color: #ffffff;
  text-align: left;
  margin-left: 1em;
}
.story-box .story-text {
   padding: 1em;
}
.top .story-text button {
   margin: 2em 0 1em 0;
}
.story-box.top .story-text {
   padding: 0.8em 2em 1em 2em;
   max-width: 800px;
}

/*STORY GRID */
section.stories #boxes *{
  box-sizing: border-box;
}
.other-stories{
   width: 100%;
   max-width: 1200px;
}
.other-stories .intro{
    width: 100%;
    padding-left: 1em;
}
.other-stories .intro p,
.other-stories .intro h3 {
    width: 70%;
}
.other-stories,
.row:before,
.row:after {
    content: "";
    display: table;
    clear: both;
}
.story-box.small{
    width: 30%;
    margin-left: 0;
}
.story-box{
    float: left;
    min-height: 1px;
    border: 2px solid grey;
    margin: 12px;
}
#boxes .story-box p,
#boxes .story-box h4 {
    color: #5C5C5C;
    padding: 0;
    margin: 0;
}
#boxes .story-box img{
    width: 100%;
    display: block;
}

/*INDIVIDUAL PAGES */

.story1 .main-text {
    float:left;
    width: 50%
}
.story1 .story-box.top {
   width: 95%;
   max-width: 1200px;
   margin: 0;
}
.story1 #boxes button.square-button p {
  color: #ffffff;
  text-align: left;
  margin-left: 1em;
}
.story1 .story-box.top img {
   padding: 1.5em;
   max-width: 250px;
   float: left;
   width: 100%;
   margin-left: auto;
   margin-right: auto;
}

.story1 .story-text p,
.story1 .intro p {
 color: #5C5C5C;
}
.story1 h1 {
    padding-bottom: 0.5em;
}

/*DONATION COLUMN */
.story1 .donate-box,
.story1 .main-text {
    width: 50%;
    float: left;
    min-height: 1px;
    padding-right: 1.5em;
}

.story1 div.top-row {
    width: 100%;
    overflow: auto;
}
.story1 input.paypal {
    margin: 0;

}


/* MOBILE UNDER 450 */
@media (max-width: 450px) {

    .story-box.small {
        width: 100%;
    }
    .story-box.top .story-text,
    .story-box.small .story-text {
        padding: 1em 1em 1em 1em;
    }
    .other-stories .intro p {
        width: 100%;
    }

    .story1 .main-text{
        width: 100%;
    }
    .story1 .story-box.top {
       width: 99%;
       max-width: 1200px;
    }
    .story1 #boxes button.square-button p {
      color: #ffffff;
      text-align: left;
      margin-left: 1em;
    }
    .story1 .story-box.top img {
       padding: 0.5em;
       max-width: 250px;
    }
    .story1 .story-box {
        margin: 0;
    }
}

