
h1, h2, h3, h4, p {
  font-family: 'Cabin';
  color: #5C5C5C;
}
h1{
  font:'Cabin semibold';
  font-size: 36px;
  margin-bottom: -2.5em;
  padding-top: 1em;
  font-style: thin;
}
h2{
  font-size: 20px;
  font:'Cabin regular';
}
section .textbox{
  padding: 1em 2em 1em 2em;
  border: 0.2em solid white;
  box-sizing: border-box; 
  width: 350px;
}
a{
  text-decoration: none;
}
.textbox a{
  text-decoration: underline;
  color: #ffffff;
}
html { 
  background: url("../assets/sunset.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*HERO SECTION */
.hero{
  padding: 20px 0 30px 20px;
  z-index: -1;
  margin: -45px -10px 0 -10px;
  box-shadow: 0 0.5em #696969;
}
.hero h1, .hero p, .hero h2{
  color: #ffffff;
}
.hero #heading{
  padding:70px 40px 50px 0px;
}
.hero #heading p{
  margin:0;
}

/*HOMEPAGE ROWS IN HERO */
#boxes{
  overflow: hidden;
  padding-right: 4.5em;
  padding-left: 8em;
}
.row-right, .row-left, .row-button{
  width:100%;
  overflow:auto;
  position:relative;
}
.row-right{
  margin-left: 321px;
  margin-top: -29px;
  z-index: 1;
}
.row-button {
  margin-left: 250px;
  margin-top: -20px;
  z-index: 2;
}
.homepage .row-button{
  margin-left: 415px;
  margin-top: -20px;
}

/*PICTURE PAGES */
.picpage .textbox{
  width: 500px;
  padding-right: 5em; 
}
.picpage .row-button{
  margin-left: 370px;
}

/*ABOUT AND PRODUCT PAGE*/
.aboutpage div.row-left{
  width: 40em;
}
.productpage div.row-left{
  width: 35.3em;
}
.aboutpage .picturebox img{
  width: 250px;
  float: right;
  margin-top: -45em;
}
.productpage .picturebox img{
  width: 185px;
  float: right;
  margin-top: -26em;
}

/*ABOUT FOUNDER STYLING */
#founder{
  overflow: auto;
}
#founder div{
  display: inline-block;
}
#founder img{
  width: 100px;
  padding-bottom: 10px;
}
#founder div#foundertext{
  float:right;
}
#founder div#foundertext p{
  margin-left:-13.4em;
}


/*BUTTONS*/
button:hover{
  background-color: #deeff5;
}
button:active{
  box-shadow: 0em 0.2em 0em 0.1em #696969; 
}
button:focus {
  outline: none;
}
button.square-button{
  background-color: #4A90E2;
  color: #ffffff;
  border-radius: 0;
  border:none;
  width: 28em;
  height: 4em;
  box-shadow: 0 0 2em 0.2em #696969;
}
button.square-button:hover{
  background-color: blue;
}
button.square-button:active{
  box-shadow: none;
}
button p{
  font-size: 17px;
  text-align: left;
  padding: 5px 0 0 18px;
  margin: 0;
}

input.paypal{
  display: block;
  margin-left:auto;
  margin-right: auto;
}

.container{
  width: 100%;
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  overflow: hidden;
}
.row {
  margin-right: 15px;
  margin-left: 15px;
}

/* EXTRA BOOTSTRAP */
body {
  margin: 15;
  position: relative;
  min-height: 100%;
}

footer,
header,
nav,
section {
  display: block;
}
h1 {
  margin: 0;
  font-size: 3em;
}
img {
  border: 0;
}
button,
html input[type="button"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
html {
  font-size: 17px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
img {
  vertical-align: middle;
}

